/// Get spritesheet X position based on required color
///
/// @private
/// @param {String} $color-name - Name of colour in palette
@function _oFtIconsImagePositionX($color-name) {
	$color-keys: map-keys($o-ft-icons-icon-colors);
	$color-index: index($color-keys, $color-name);

	@if ($color-index) {
		@return percentage(1 * ($color-index - 1)) * -1;
	}

	@error "Icon color '#{$color-name}' is not configured.";
}

/// Get spritesheet Y position based on required icon
///
/// @private
/// @param {String} $icon-name - Name of icon
@function _oFtIconsImagePositionY($icon-name) {
	$icon-index: index($o-ft-icons-icon-names, $icon-name);

	@if ($icon-index) {
		@return percentage(1 * ($icon-index - 1)) * -1;
	}

	@error "Icon name '#{$icon-name}' is not configured.";
}

/// Get spritesheet URL or path
///
/// @private
// TODO: In future this could generate a path to load only the configured
// sprites and colours via the image service.
@function _oFtIconsImageUrl() {
	@return "#{$o-ft-icons-path}";
}
