/// Get spritesheet X position based on required color
///
/// @private
/// @param {String} $color-name - Name of colour in palette
/// @param {Boolean} $fallback - Calculate based on native sprite sheet icon size
@function _oFtIconsImagePositionX($color-name, $fallback: false) {
	$color-keys: map-keys($o-ft-icons-icon-colors);
	$color-index: index($color-keys, $color-name);

	@if ($color-index) {
		@if ($fallback) {
			// Background images cannot be scaled in old IE so position it based
			// on the native sprite sheet size.
			@return $o-ft-icons-icon-native-size * ($color-index - 1) * -1 + px;
		} @else {
			@return percentage(1 * ($color-index - 1)) * -1;
		}
	}

	@error "Icon color '#{$color-name}' is not configured.";
}

/// Get spritesheet Y position based on required icon
///
/// @private
/// @param {String} $icon-name - Name of icon
/// @param {Boolean} $fallback - Calculate based on native sprite sheet icon size
@function _oFtIconsImagePositionY($icon-name, $fallback: false) {
	$icon-index: index($o-ft-icons-icon-names, $icon-name);

	@if ($icon-index) {
		@if ($fallback) {
			// Background images cannot be scaled in old IE so position it based
			// on the native sprite sheet size.
			@return $o-ft-icons-icon-native-size * ($icon-index - 1) * -1 + px;
		} @else {
			@return percentage(1 * ($icon-index - 1)) * -1;
		}
	}

	@error "Icon name '#{$icon-name}' is not configured.";
}

/// Get spritesheet URL or path
///
/// @private
// TODO: In future this could generate a path to load only the configured
// sprites and colours via the image service.
@function _oFtIconsImageUrl() {
	@return "#{$o-ft-icons-path}";
}

/// Calculates scale between on native size and target size for old IE zoom
///
/// @private
/// @param {Number} $icon-size - Target size of icon in px
@function _oFtIconsIeZoomLevel($icon-size) {
	@return 1 / $o-ft-icons-icon-native-size * $icon-size;
}
