@mixin _oFtIconsSizes() {
	@each $key, $value in $o-ft-icons-icon-sizes {
		.o-ft-icon--#{$key} {
			width: $value + 0px;
			height: $value + 0px;

			&:after {
				background-image: url('#{_oFtIconsImageUrl()}?format=png&size=#{$value}')\9;
			}
		}
	}
}

@mixin _oFtIconsColors() {
	@each $color-name, $color-code in $o-ft-icons-icon-colors {
		.o-ft-icon--#{$color-name} {
			&:after {
			 	left: _oFtIconsImagePositionX($color-name);
			}
		}
	}
}

@mixin _oFtIconsNames() {
	@each $icon-name in $o-ft-icons-icon-names {
		.o-ft-icon--#{$icon-name} {
			&:after {
				top: _oFtIconsImagePositionY($icon-name);
			}
		}
	}
}
