{{#icons}}
<h2>{{name}}</h2>
<ul class="demo-examples">
	{{#colors}}
	<li class="demo-example">
		<i class="o-ft-icon o-ft-icon--xl o-ft-icon--{{name}} o-ft-icon--{{.}} demo-icon"></i>
		<span class="demo-label">{{.}}</span>
	</li>
	{{/colors}}
</ul>
{{/icons}}
